.main{
    width: 600px;
    height: 400px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%,-50%);
    text-align: center;
    border-radius: 10px;
    border-width:1px ;
}

.ant-btn {
    margin-right: 8px;
  }